<lte-carousel [interval]="2 * 1000" [(activeSlide)]="activeSlide" #carousel="carousel">
  <ng-template lteSlide>
    <img alt="First slide [900x500]" class="img-responsive" width="100%"
         data-src="holder.js/900x500/auto/#777:#555/text:First slide"
         src="http://bpic.588ku.com/back_pic/05/27/27/675a02bb99595f4.jpg!ww800"
         data-holder-rendered="true">
    <div class="carousel-caption">
      <h3>狗年大吉</h3>
    </div>
  </ng-template>

  <ng-template lteSlide>
    <img alt="Second slide [900x500]" class="img-responsive" width="100%"
         data-src="holder.js/900x500/auto/#666:#444/text:Second slide"
         src="http://bpic.588ku.com/back_pic/05/36/16/565a3a5cd6c8ac8.jpg!ww800"
         data-holder-rendered="true">
    <div class="carousel-caption">
      <h3>新年快乐</h3>
    </div>
  </ng-template>
  <ng-template lteSlide>
    <img alt="Third slide [900x500]" class="img-responsive" width="100%"
         data-src="holder.js/900x500/auto/#555:#333/text:Third slide"
         src="http://bpic.588ku.com/back_pic/00/05/15/245625f4ffbaf09.jpg!ww800"
         data-holder-rendered="true">
    <div class="carousel-caption">
      <h3>星辰大海</h3>
    </div>
  </ng-template>
</lte-carousel>
