<div class="row">
  <div class="col-md-12 col-xs-12">
    <lte-box title="写下你的问题" type="primary" >
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
          <form [formGroup]="form">
            <div class="form-group">
              <label for="topics">写下您的问题：</label>
              <textarea class="form-control" formControlName="title" rows="3"></textarea>
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
              <label for="topics">问题描述：</label>
              <textarea class="form-control" formControlName="desc" rows="3"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-primary pull-right">提交问题</button>
            </div>
          </form>
        </div>
      </div>
    </lte-box>
  </div>
</div>
